<div class="container__facilities-card">
  <div class="facilities-card_container_title">
    <div class="facilities-card_container_title_h1">
      <h1>{{cardTitle}}</h1>
    </div>
    <div class="facilities-card_container_title_description">
      <p>{{cardDescription}}</p>
    </div>
  </div>
  <div class="facilities-card_container_highlights">
    <div class="facilities-card_container_highlights_mini-card">
      <div class="facilities-card_container_highlights_mini-card_img">
        <img
          src="{{miniCardImgCover1}}"
          alt="">
      </div>
      <div class="facilities-card_container_highlights_mini-card_title">
        <h1>{{miniCardTitle1}}</h1>
      </div>
      <div class="facilities-card_container_highlights_mini-card_description">
        <p>{{miniCardDescription1}}</p>
      </div>
    </div>
    <div class="facilities-card_container_highlights_mini-card">
      <div class="facilities-card_container_highlights_mini-card_img">
        <img
          src="{{miniCardImgCover2}}"
          alt="">
      </div>
      <div class="facilities-card_container_highlights_mini-card_title">
        <h1>{{miniCardTitle2}}</h1>
      </div>
      <div class="facilities-card_container_highlights_mini-card_description">
        <p>{{miniCardDescription2}}</p>
      </div>
    </div>
    <div class="facilities-card_container_highlights_mini-card">
      <div class="facilities-card_container_highlights_mini-card_img">
        <img
          src="{{miniCardImgCover3}}"
          alt="">
      </div>
      <div class="facilities-card_container_highlights_mini-card_title">
        <h1>{{miniCardTitle3}}</h1>
      </div>
      <div class="facilities-card_container_highlights_mini-card_description">
        <p>{{miniCardDescription3}}</p>
      </div>
    </div>
  </div>
  </div>