.container__benefits-card {
  display: flex;
  justify-content: space-around;
  background-color: #EEE3F3;
  border-radius: 30px;
  margin: 20px;
}

.benefits-card_img {
  display: flex;
  align-items: center;
}

.benefits-card_img > img {
  width: 500px;
  height: 500px;
  margin: 20px 30px 20px 30px;
  border-radius: 30px;
}

.benefits-card_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px 60px 20px 30px;
}

.benefits-card_title {
  color: #514F5A;
  font-size: 20px;
}

.benefits-card_characteristics_list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.benefits-card_characteristics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  /* background-color: #fff; */
  border-radius: 30px;
}

.benefits-card_characteristics_title {
  color: #514F5A;
  font-size: 10px;
}

.benefits-card_characteristics_description {
  color: #85888D;
  font-size: 12px;
  display: flex;
  margin: 20px 40px 30px 40px;
}