<div class="container__benefits-card">
	<div class="benefits-card_img">
		<img
			src="{{imgCover}}"
			alt="">
	</div>
	<div class="benefits-card_description">
		<div class="benefits-card_title">
			<h1>{{cardTitle}}</h1>
		</div>
		<div class="benefits-card_characteristics_list">
			<div>
				<div class="benefits-card_characteristics">
					<div class="benefits-card_characteristics_title">
						<h1>{{miniCardTitle1}}</h1>
					</div>
					<div class="benefits-card_characteristics_description">
						<p>{{miniCardDescription1}}</p>
					</div>
				</div>
				<div class="benefits-card_characteristics">
					<div class="benefits-card_characteristics_title">
						<h1>{{miniCardTitle2}}</h1>
					</div>
					<div class="benefits-card_characteristics_description">
						<p>{{miniCardDescription2}}</p>
					</div>
				</div>
				<div class="benefits-card_characteristics">
					<div class="benefits-card_characteristics_title">
						<h1>{{miniCardTitle3}}</h1>
					</div>
					<div class="benefits-card_characteristics_description">
						<p>{{miniCardDescription3}}</p>
					</div>
				</div>
			</div>
			<div>
				<div class="benefits-card_characteristics">
					<div class="benefits-card_characteristics_title">
						<h1>{{miniCardTitle4}}</h1>
					</div>
					<div class="benefits-card_characteristics_description">
						<p>{{miniCardDescription4}}</p>
					</div>
				</div>
				<div class="benefits-card_characteristics">
					<div class="benefits-card_characteristics_title">
						<h1>{{miniCardTitle5}}</h1>
					</div>
					<div class="benefits-card_characteristics_description">
						<p>{{miniCardDescription5}}</p>
					</div>
				</div>
				<div class="benefits-card_characteristics">
					<div class="benefits-card_characteristics_title">
						<h1>{{miniCardTitle6}}</h1>
					</div>
					<div class="benefits-card_characteristics_description">
						<p>{{miniCardDescription6}}</p>
					</div>
				</div>
			</div>
		</div>