<div>
  <app-menu-bar></app-menu-bar>

  <app-highlight-card
    imgcover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
    cardTitle="Texto de apresentação"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia fugit possimus ab consequatur recusandae, inventore eligendi officiis a aperiam harum, nihil, iste cumque laborum officia quisquam! Modi voluptatem cum accusantium.">
  </app-highlight-card>

  <app-facilities-card 
    cardTitle="Tecnologia, cultura pop, ciencia, tudo isso e um pouco mais..." 
    cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, facere voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, facere voluptas."
    miniCardImgCover1="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
    miniCardTitle1="Tecnologia"
    miniCardDescription1="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid unde id quidem corporis assumenda."
    miniCardImgCover2="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
    miniCardTitle2="Cultura Pop"
    miniCardDescription2="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid unde id quidem corporis assumenda."
    miniCardImgCover3="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
    miniCardTitle3="Ciência"
    miniCardDescription3="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid unde id quidem corporis assumenda."
    >
  </app-facilities-card>

  <app-benefits-card imgCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" 
  cardTitle="Tudo o que você pode encontrar aqui"
  miniCardTitle1="Assunto #1"
  miniCardDescription1="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  miniCardTitle2="Assunto #2"
  miniCardDescription2="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  miniCardTitle3="Assunto #3"
  miniCardDescription3="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  miniCardTitle4="Assunto #4"
  miniCardDescription4="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  miniCardTitle5="Assunto #5"
  miniCardDescription5="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  miniCardTitle6="Assunto #6"
  miniCardDescription6="Lorem ipsum dolor sit amet consectetur adipisicing elit."
  >
  </app-benefits-card>
</div>